<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link href="assets/css/bartekstyle.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="bartek-404">
            <div class="brtk-subhero">
                <div class="inner-element">
                    <div class="hero-heading-1">
                        <h1 class="title">Page Not Found</h1>
                    </div>
                </div>
            </div>

            <div class="error-content">
                <div class="inner-element">
                    <h3 class="brtk-heading-title">Error 404</h3>

                    <h4 class="heading-title-4">
                        The page you are looking for might have been removed,
                        had its name changed, or is temporarily unavailable.
                    </h4>

                    <div class="button-container">
                        <a class="button-link" href="https://bartekict.com/">
                            <span class="button-content">
                                <span class="btn-text">Back To Home</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
